.boxcontainer{
    padding: 1rem;
    background-color: darksalmon;
    display: flex;
}
.box{
    background-color: cadetblue;
    padding: 1rem;
    margin: 1rem;
    color: rgb(11, 14, 27);
    width: 3rem;
    height: 3rem;
}

/* flex direction */
#row{
    flex-direction: row;
}

#column{
    flex-direction: column;
}

#rowreverse{
    flex-direction: row-reverse;
}

#columnreverse{
    flex-direction: column-reverse;
}

/* for rows */
/* justify-content: space-around */
#boxes1{
    justify-content: space-around;
}

#boxes2{
    justify-content: space-evenly;
}

#boxes3{
    justify-content: space-between;
}

#boxes0{
    justify-content: center;
}

/* for columns */
#boxes4{
    height: 85vh;
    flex-direction: column;
    justify-content: space-around;
}
#boxes5{
    height: 85vh;
    flex-direction: column;
    justify-content: space-evenly;
}
#boxes6{
    height: 85vh;
    flex-direction: column;
    justify-content: space-between;
}

/* align items with direction row */
#boxes7{
    height: 90vh;
    align-items: flex-start;
}

#boxes8{
    height: 90vh;
    align-items: center;
}

#boxes9{
    height: 90vh;
    align-items: flex-end;
}

/* align items with direction column */
#boxes10{
    height: 90vh;
    flex-direction: column;
    align-items: flex-start;
}

#boxes11{
    height: 90vh;
    flex-direction: column;
    align-items: center;
}

#boxes12{
    height: 90vh;
    flex-direction: column;
    align-items: flex-end;
}

/* for order property (flex items) */
#box1{
    order: 2;
}

#box2{
    order: 3;
}

#box3{
    order: 1;
}